
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>MyView</title>
</head>

<body>
    <div>
        <input type="button" name="menu" value="MENU" onclick="location.href='@Url.Action("Menu", "Home")'" />
        <input type="button" name="food" value="ADD FOOD" onclick="location.href='@Url.Action("Food", "Home")'" />
        <input type="button" name="food" value="ADD FOOD123" onclick="location.href='@Url.Action("Example", "Home")'" />
    </div>
</body>

</html>
