@model string[]
@{
    string fileContents = System.IO.File.ReadAllText(@"C:\Users\theja\Desktop\a.txt");
}
@ViewData["name"]
<!DOCTYPE html>

<html>
<head>
    <title>Reading Data from a File</title>
</head>
<body>
    <div>
        <h1>Displaying your menu now:</h1>

        <table>

            @{ int i = 0;}
            @foreach (string dataLine in Model)
            {
            <tr>
                @dataLine
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </tr>
                i = i + 1;
                if (i % 3 == 0)
                {
                    <br />
                }
            }
        </table>
    </div>
</body>
</html>